@page "/catalog"

<SearchBar OnValuesLoaded="ChangeBooks" OnValuesLoadingStateChanged="ChangeLoadingState"/>
@if (loadingValues)
{
    <p>Загрузка</p>
}
else if (Books.Count != 0)
{
@*     <TestBlock /> *@
    <BookBlock 
        BlockSize="10"
    Books="@Books"/>
}
else
{
    <p>Ищите книги по всем библиотекам Мира (нет)</p>
}
@code {
    private bool loadingValues = false;
    private List<BookShortDto> Books = new();
    private async Task ChangeBooks(List<BookShortDto> newBooks)
    {
        Books = newBooks;
    }
    private void ChangeLoadingState()
    {
        Console.WriteLine("Наджата кнопка");
        loadingValues = !loadingValues;
    }
}
