@using ELibrary.Shared.Dto
<div class="books-block">
    <ul class="cards">
        @foreach (var book in Books)
        {
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src=@book.ImageURL></div>
                    <div class="card_content">
                        <h2 class="card_title">@book.BookName</h2>
                        <p class="card_text">@book.Description</p>
                        <p class="card_text">Год написания: @book.YearWritten</p>
                        <button class="btn card_btn">Перейти</button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>


@code {
    [Parameter]
    public List<BookShortDto> Books { get; set; } = new();

    [Parameter]
    public int BlockSize { get; set; } = 10;
}
